@font-face {
  font-family: play;
  src: url(./Assets/PlayfairDisplay-MediumItalic.ttf);
}
@font-face {
  font-family: italic;
  src: url(./Assets/PlayfairDisplay-Italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

main {
  width: 100%;
  min-height: 100vh;
  .section1 {
    background-color: #f1f4e6;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem 9rem 3rem;
    display: flex;
    flex-direction: column;

    nav {
      position: fixed;
      width: calc(100% - 6rem);
      left: 3rem;
      z-index: 99;
      @include flex(row, space-between, center);
      padding: 0 2rem;
      border-radius: 2rem;

      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);

      img {
        height: 60px;
        color: #fff;
      }
      .tag {
        display: flex;
        gap: 0.5rem;
        .nav1 {
          @include flex(row, flex-start, center, 3rem);
          a {
            text-decoration: none;
            color: #11452c;
            font-weight: 500;
            transition: color 0.3s ease, transform 0.3s ease;
          }
          a:hover {
            color: black;
            transform: translateY(-2px);
          }
          #search {
            background-color: #11452c;
            padding: 0.5rem;
            border-radius: 50%;
            color: #f1f4e6;
          }
          #search:hover {
            border: 1px solid #11452c;
            background-color: transparent;
            color: #11452c;
          }
          a::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -5px;
            left: 0;
            background-color: #11452c;
            transition: width 0.3s ease;
          }

          a:hover::after {
            width: 100%;
          }
        }
        #menu {
          display: none;
          color: #11452c;
        }
      }
    }
    .Center {
      @include flex(row, space-between, center);
      color: #11452c;
      margin-top: 13rem;
      .text {
        @include flex(column, center, center, 1.5rem);
        width: 50%;
        margin-right: 3rem;
        h1 {
          font-size: 5.5rem;
          text-align: center;
          line-height: 0.9;
          letter-spacing: -1px;
          margin-left: 5rem;
          font-weight: 400;
        }
        span {
          font-family: italic;
          font-size: 100;
          color: rgb(209, 209, 3);
        }
        p {
          width: 80%;
          text-align: center;
          font-size: 1.2rem;
        }
        .btn {
          @include flex(row, center, center, 1rem);
          button {
            padding: 0.7rem 1.4rem;
            border-radius: 1.4rem;
            border: none;
            outline: none;
            background-color: #246134;
            color: #fff;
            font-size: 1rem;
          }
          button:hover {
            background-color: transparent;
            color: #246134;
            border: 1.4px solid #246134;
          }
          #btn1 {
            background-color: transparent;
            color: #246134;
            border: 1.4px solid #246134;
          }
          #btn1:hover {
            background-color: #246134;
            color: #f1f4e6;
          }
          #btn1:active {
            scale: 0.95;
          }
          button:active {
            scale: 0.95;
            box-shadow: 0.5px 0.5px 20px rgb(202, 200, 200);
          }
        }
      }

      img {
        height: 420px;
      }
      .img {
        img {
          position: absolute;
          top: -2rem;
          left: 0rem;
          z-index: 9;
          height: 300px;
        }
      }
    }
  }
  .section2 {
    width: 100%;
    padding: 5rem 3rem;
    h1 {
      text-align: center;
      color: #246134;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: -1px;
    }
    .allCard {
      width: 100%;
      margin-top: 8rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 7rem;
      .top-card {
        width: 100%;
        @include flex(row, center, center, 1rem);
        flex-wrap: wrap;

        .card {
          flex-wrap: wrap;
          padding: 2rem;
          width: 28%;
          background-color: #212419;
          border-radius: 2rem;
          color: #f1f4e6;
          @include flex(column, center, center);

          img {
            margin-top: -12rem;
            width: 16rem;
          }
          .content {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .price {
              display: flex;
              justify-content: space-between;
              i {
                border: 1px solid #fff;
                padding: 0.5rem;
                border-radius: 0.3rem;
              }
              i:hover {
                color: #111;
                background-color: #f1f4e6;
                transition: all ease 0.2s;
              }
            }
          }
        }
      }
    }
  }
  .section3 {
    width: 100%;
    padding: 5rem 5rem;
    background-color: #f1f4e6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
    .text {
      padding: 0 3rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h5 {
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 0.85rem;
        margin: 2rem 0 1rem 0;
      }
      h1 {
        font-size: 4.2rem;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 1.15;
      }
      p {
        line-height: 1.8;
      }
      button {
        width: fit-content;
        padding: 1rem 1.6rem;
        border-radius: 0.8rem;
        border: none;
        background-color: #ece6d3;
        color: #111;
        font-weight: 500;
      }
      button:hover {
        border: 2px solid #858177;
        background-color: transparent;
      }
      button:active {
        scale: 0.95;
      }
    }
  }
  .section4 {
    width: 100%;
    background-color: #f1f4e6;
    padding: 3rem 8rem;
    @include flex(column, center, center, 3rem);
    text-align: center;
    .tags {
      width: 100%;
      padding: 4rem 5rem;
      background-color: #fff;
      @include flex(row, space-between, center, 2rem);
      flex-wrap: wrap;
      .tag {
        @include flex(column, center, center);
        h1 {
          font-size: 3rem;
          font-weight: 500;
        }
        i {
          font-size: 2rem;
          font-weight: 100;
        }
      }
    }
    .service {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding: 2rem 6rem 0rem 6rem;
      flex-wrap: wrap;

      .cards {
        transition: all ease 0.3s;
        i {
          font-size: 2rem;
          font-weight: 100;
        }
        p {
          font-size: 1.2rem;
          font-weight: 500;
        }
        &:hover {
          transform: translateY(-6px);
        }
      }
    }
  }
  .section5 {
    width: 100%;
    padding: 3rem 8rem;
    display: flex;
    gap: 1rem;
    background-color: #f1f4e6;
    flex-wrap: wrap;
    h1 {
      font-weight: 500;
      font-size: 1.7rem;
    }
    .top {
      flex: 1 1 45%;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .img1,
      .img2,
      .img3,
      .img4 {
        height: 340px;
        border-radius: 1.1rem;
        color: #fff;
        padding: 2rem;
        font-size: 2rem;
        display: flex;
        align-items: end;
        text-shadow: 1px 1px 20px rgb(43, 41, 41);
        line-height: 1.2;
        font-weight: 500;
        flex-wrap: wrap;
      }
      .img1 {
        background-image: url(./Assets/img1.jpg);
      }
      .img2 {
        background-image: url(./Assets/Nighttime\ tranquility\ in\ a\ lush\ garden\ filled\ with\ soft\ lights.jpg);
      }
      .img3 {
        background-image: url(./Assets/Starry\ night\ over\ a\ lush\,\ tranquil\ green\ meadow.jpg);
      }
      .img4 {
        background-image: url(./Assets/garden.jpg);
      }
    }
  }
}

@media (max-width: 1150px) {
  main {
    .section1 {
      nav {
        .nav1 {
          a {
            font-size: 0.9rem;
          }
        }
      }
      .Center {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 7rem;
        .text {
          margin-right: 0;
          width: 100%;
          gap: 1rem;
          h1 {
            font-size: 3.3rem;
          }
          p {
            font-size: 1rem;
          }
          .btn {
            button {
              padding: 0.6rem 1rem;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .section2 {
      .allCard {
        .top-card {
          gap: 4rem;
          .card {
            flex: 1 1 300px;
            max-width: 320px;
          }
        }
      }
    }
    .section4 {
      .service {
        .cardall {
          margin-bottom: 2rem;
        }
      }
    }
    .section5 {
      padding: 2rem;
      flex-wrap: wrap;
      .top {
        flex-wrap: wrap;

        .img1,
        .img2,
        .img3,
        .img4 {
          flex-wrap: wrap;
          font-size: 1.8rem;
        }
      }
    }
  }
}
@media (max-width: 786px) {
  main {
    .section1 {
      nav {
        .tag {
          .nav1 {
            display: none;
          }
          #menu {
            display: block;
          }
        }
      }
      .Center {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 7rem;
        .text {
          margin-right: 0;
          width: 100%;
          gap: 1rem;
          h1 {
            font-size: 3.3rem;
          }
          p {
            font-size: 0.9rem;
          }
          .btn {
            button {
              padding: 0.6rem 1rem;
              font-size: 0.9rem;
            }
          }
        }
        .img {
          img {
            position: absolute;
            top: -2rem;
            left: 0rem;
            z-index: 9;
            height: 180px;
          }
        }
      }
    }
    .section2 {
      .allCard {
        .top-card {
          gap: 4rem;
          .card {
            flex: 1 1 300px;
            max-width: 320px;
            width: 100%;
          }
        }
      }
    }
    .section4 {
      .service {
        .cardall {
          margin-bottom: 2rem;
        }
      }
    }
    .section5 {
      .top {
        .img1,
        .img2,
        .img3,
        .img4 {
          flex-wrap: wrap;
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  main {
    .section1 {
      padding: 1rem;
      nav {
        .tag {
          .nav1 {
            display: none;
          }
          #menu {
            display: block;
          }
        }
      }
      .Center {
        flex-direction: column;
        gap: 1rem;
        margin-top: 7rem;
        .text {
          margin-right: 0;
          h1 {
            font-size: 2.5rem;
            margin-left: 0;
          }
          P {
            font-size: 0.9rem;
          }
          .btn {
            button {
              padding: 0.6rem 1rem;
              font-size: 0.8rem;
            }
          }
        }
        img {
          height: 180px;
        }
        .img {
          img {
            position: absolute;
            top: -2rem;
            left: 0rem;
            z-index: 9;
            height: 180px;
          }
        }
      }
    }
    .section2 {
      padding: 1rem;
      .allCard {
        .top-card {
          gap: 6rem;
          .card {
            width: 22%;
            flex: 1 1 90%;
            max-width: 90%;
            padding: 1.8rem;
            img {
              width: 13rem;
            }
          }
        }
      }
    }
    .section3 {
      padding: 1rem;
      margin-top: 3rem;
      img {
        margin-top: 2rem;
      }
      .text {
        padding: 1rem;
        h1 {
          font-size: 2.7rem;
        }
      }
    }
    .section4 {
      padding: 0 3rem;
      .tags {
        padding: 1rem;
      }
      .service {
        padding: 2.9rem;
      }
    }
    .section5 {
      flex-wrap: wrap;
      .top {
        .img1,
        .img2,
        .img3,
        .img4 {
          flex-wrap: wrap;
          font-size: 1.3rem;
        }
      }
    }
  }
}
