@font-face {
  font-family: play;
  src: url(./Assets/PlayfairDisplay-MediumItalic.ttf);
}
@font-face {
  font-family: italic;
  src: url(./Assets/PlayfairDisplay-Italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  transition: all ease 0.4s;
  top: 0;
  background-color: #246134;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.loader h1 {
  color: #f1f4e6;
  font-size: 4.5rem;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}
main .section1 {
  background-color: #f1f4e6;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem 9rem 3rem;
  display: flex;
  flex-direction: column;
}
main .section1 nav {
  position: fixed;
  width: calc(100% - 6rem);
  left: 3rem;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  padding: 0 2rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}
main .section1 nav img {
  height: 60px;
  color: #fff;
}
main .section1 nav .tag {
  display: flex;
  gap: 0.5rem;
}
main .section1 nav .tag .nav1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
main .section1 nav .tag .nav1 > a {
  text-decoration: none;
  color: #11452c;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}
main .section1 nav .tag .nav1 > a:hover {
  color: black;
  transform: translateY(-2px);
}
main .section1 nav .tag .nav1 #search {
  background-color: #11452c;
  padding: 0.5rem;
  border-radius: 50%;
  color: #f1f4e6;
  cursor: pointer;
}
main .section1 nav .tag .nav1 #search:hover {
  border: 1px solid #11452c;
  background-color: transparent;
  color: #11452c;
}
main .section1 nav .tag .nav1 .dropdown {
  position: relative;
  display: inline-block;
}
main .section1 nav .tag .nav1 .dropdown > a {
  text-decoration: none;
  color: #11452c;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
main .section1 nav .tag .nav1 .dropdown > a:hover {
  color: black;
  transform: translateY(-2px);
}
main .section1 nav .tag .nav1 .dropdown > a i {
  transition: transform 0.3s ease;
}
main .section1 nav .tag .nav1 .dropdown:hover > a i {
  transform: rotate(180deg);
}
main .section1 nav .tag .nav1 .dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.3s ease;
}
main .section1 nav .tag .nav1 .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.98);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  min-width: 220px;
  border-radius: 12px;
  z-index: 100;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
main .section1 nav .tag .nav1 .dropdown .dropdown-content a {
  color: #11452c;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  font-weight: 500;
}
main .section1 nav .tag .nav1 .dropdown .dropdown-content a:hover {
  background-color: #f1f4e6;
  padding-left: 2rem;
  color: black;
}
main .section1 nav .tag #menu {
  display: none;
  color: #11452c;
  cursor: pointer;
}
main .section1 .Center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  color: #11452c;
  margin-top: 13rem;
}
main .section1 .Center .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 50%;
  margin-right: 3rem;
}
main .section1 .Center .text h1 {
  font-size: 5.5rem;
  text-align: center;
  line-height: 0.9;
  letter-spacing: -1px;
  margin-left: 5rem;
  font-weight: 400;
}
main .section1 .Center .text span {
  font-family: italic;
  font-size: 100;
  color: rgb(209, 209, 3);
}
main .section1 .Center .text p {
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}
main .section1 .Center .text .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .section1 .Center .text .btn button {
  padding: 0.7rem 1.4rem;
  border-radius: 1.4rem;
  border: none;
  outline: none;
  background-color: #246134;
  color: #fff;
  font-size: 1rem;
}
main .section1 .Center .text .btn button:hover {
  background-color: transparent;
  color: #246134;
  border: 1.4px solid #246134;
}
main .section1 .Center .text .btn #btn1 {
  background-color: transparent;
  color: #246134;
  border: 1.4px solid #246134;
}
main .section1 .Center .text .btn #btn1:hover {
  background-color: #246134;
  color: #f1f4e6;
}
main .section1 .Center .text .btn #btn1:active {
  scale: 0.95;
}
main .section1 .Center .text .btn button:active {
  scale: 0.95;
  box-shadow: 0.5px 0.5px 20px rgb(202, 200, 200);
}
main .section1 .Center img {
  height: 420px;
}
main .section1 .Center .img img {
  position: absolute;
  top: -2rem;
  left: 0rem;
  z-index: 9;
  height: 300px;
}

.section2 {
  width: 100%;
  padding: 5rem 3rem;
  background-color: #fff;
}
.section2 h1 {
  text-align: center;
  color: #246134;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -1px;
}
.section2 .allCard {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7rem;
}
.section2 .allCard .top-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.section2 .allCard .top-card .card {
  flex-wrap: wrap;
  padding: 2rem;
  width: 28%;
  background-color: #212419;
  border-radius: 2rem;
  color: #f1f4e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.section2 .allCard .top-card .card img {
  margin-top: -12rem;
  width: 16rem;
}
.section2 .allCard .top-card .card .content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.section2 .allCard .top-card .card .content .price {
  display: flex;
  justify-content: space-between;
}
.section2 .allCard .top-card .card .content .price i {
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.section2 .allCard .top-card .card .content .price i:hover {
  color: #111;
  background-color: #f1f4e6;
  transition: all ease 0.2s;
}

.section3 {
  width: 100%;
  padding: 5rem 5rem;
  background-color: #f1f4e6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section3 img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.section3 .text {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section3 .text h5 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 0.85rem;
  margin: 2rem 0 1rem 0;
}
.section3 .text h1 {
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.15;
}
.section3 .text p {
  line-height: 1.8;
}
.section3 .text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #246134;
  color: #f1f4e6;
  font-weight: 500;
}
.section3 .text button:hover {
  border: 2px solid #858177;
  background-color: transparent;
}
.section3 .text button:active {
  scale: 0.95;
}

.section4 {
  width: 100%;
  background-color: #f1f4e6;
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}
.section4 .tags {
  width: 100%;
  padding: 4rem 5rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.section4 .tags .tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.section4 .tags .tag h1 {
  font-size: 3rem;
  font-weight: 500;
}
.section4 .tags .tag i {
  font-size: 2rem;
  font-weight: 100;
}
.section4 .service {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  gap: 2rem;
  padding: 2rem 6rem 0rem 6rem;
  flex-wrap: wrap;
}
.section4 .service .cards {
  transition: all ease 0.3s;
}
.section4 .service .cards i {
  font-size: 2rem;
  font-weight: 100;
}
.section4 .service .cards p {
  font-size: 1.2rem;
  font-weight: 500;
}
.section4 .service .cards:hover {
  transform: translateY(-6px);
}

.section5 {
  width: 100%;
  padding: 3rem 8rem;
  display: flex;
  gap: 1rem;
  background-color: #f1f4e6;
  flex-wrap: wrap;
}
.section5 h1 {
  font-weight: 500;
  font-size: 1.7rem;
}
.section5 .top {
  flex: 1 1 45%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.section5 .top .img1,
.section5 .top .img2,
.section5 .top .img3,
.section5 .top .img4 {
  height: 340px;
  border-radius: 1.1rem;
  color: #fff;
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: end;
  text-shadow: 1px 1px 20px rgb(43, 41, 41);
  line-height: 1.2;
  font-weight: 500;
  flex-wrap: wrap;
}
.section5 .top .img1 {
  background-image: url(./Assets/img1.jpg);
}
.section5 .top .img2 {
  background-image: url(./Assets/Nighttime\ tranquility\ in\ a\ lush\ garden\ filled\ with\ soft\ lights.jpg);
}
.section5 .top .img3 {
  background-image: url(./Assets/Starry\ night\ over\ a\ lush\,\ tranquil\ green\ meadow.jpg);
}
.section5 .top .img4 {
  background-image: url(./Assets/garden.jpg);
}

.section6 {
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 5rem 8rem;
}
.section6 h1 {
  text-align: center;
  color: #246134;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 4rem;
}
.section6 .swiper {
  width: 100%;
  height: 100%;
}
.section6 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.section6 .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.1rem;
  transition: transform 0.3s ease;
}
.section6 .swiper .swiper-slide img:hover {
  transform: scale(1.05);
}
.section6 .swiper .swiper-slide .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.section6 .swiper .swiper-slide .text h1 {
  font-size: 1.4rem;
  color: #111;
  font-weight: 600;
}
.section6 .swiper .swiper-slide .text h5 {
  color: #111;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #212419;
  color: #f1f4e6;
  padding: 5rem 8rem 2rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}
footer .big-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}
footer .big-box .box1,
footer .big-box .box2,
footer .big-box .box3,
footer .big-box .box4,
footer .big-box .box5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .big-box .box1 h2,
footer .big-box .box2 h2,
footer .big-box .box3 h2,
footer .big-box .box4 h2,
footer .big-box .box5 h2 {
  font-weight: 500;
}
footer .big-box .box1 p,
footer .big-box .box2 p,
footer .big-box .box3 p,
footer .big-box .box4 p,
footer .big-box .box5 p {
  margin-bottom: 0.4rem;
  color: #dbdad8;
  width: -moz-fit-content;
  width: fit-content;
}
footer .big-box .box1 p::after,
footer .big-box .box2 p::after,
footer .big-box .box3 p::after,
footer .big-box .box4 p::after,
footer .big-box .box5 p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f1f4e6;
  transition: width 0.3s ease;
}
footer .big-box .box1 p:hover::after,
footer .big-box .box2 p:hover::after,
footer .big-box .box3 p:hover::after,
footer .big-box .box4 p:hover::after,
footer .big-box .box5 p:hover::after {
  width: 100%;
}
footer .big-box .box1 p:hover,
footer .big-box .box2 p:hover,
footer .big-box .box3 p:hover,
footer .big-box .box4 p:hover,
footer .big-box .box5 p:hover {
  color: #f1f4e6;
  transform: translateY(-2px);
}
footer .small {
  padding-top: 2rem;
  border-top: 1px solid #f1f4e6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .small p {
  font-size: 0.9rem;
}
footer .small .icon {
  display: flex;
  gap: 1rem;
}
footer .small .icon a {
  color: #f1f4e6;
  text-decoration: none;
}
footer .small .icon a i {
  font-size: 1.4rem;
}
footer .small .icon a:hover {
  color: #858177;
}

@media (max-width: 1150px) {
  main .section1 nav .nav1 {
    gap: 1.4rem;
  }
  main .section1 nav .nav1 a {
    font-size: 0.9rem;
  }
  main .section1 .Center {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 7rem;
  }
  main .section1 .Center .text {
    margin-right: 0;
    width: 100%;
    gap: 1rem;
  }
  main .section1 .Center .text h1 {
    font-size: 3.3rem;
  }
  main .section1 .Center .text p {
    font-size: 1rem;
  }
  main .section1 .Center .text .btn button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
  main .section2 .allCard .top-card {
    gap: 4rem;
  }
  main .section2 .allCard .top-card .card {
    flex: 1 1 300px;
    max-width: 320px;
  }
  main .section4 .service .cardall {
    margin-bottom: 2rem;
  }
  main .section5 {
    padding: 2rem;
    flex-wrap: wrap;
  }
  main .section5 .top {
    flex-wrap: wrap;
  }
  main .section5 .top .img1,
  main .section5 .top .img2,
  main .section5 .top .img3,
  main .section5 .top .img4 {
    flex-wrap: wrap;
    font-size: 1.6rem;
  }
  main .section6 {
    padding: 3rem;
  }
  main .section6 .swiper .swiper-slide .text h1 {
    font-size: 1.2rem;
  }
  main .section6 .swiper .swiper-slide .text h5 {
    font-size: 0.9rem;
  }
}
@media (max-width: 786px) {
  main .section1 nav .tag .nav1 {
    display: none;
    flex-direction: column;
    background: #f3f6ed;
    position: absolute;
    top: 80px;
    right: 40px;
    width: 230px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  main .section1 nav .tag .nav1.active {
    display: flex;
  }
  main .section1 nav .tag #menu {
    display: block;
  }
  main .section1 .Center {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 7rem;
  }
  main .section1 .Center .text {
    margin-right: 0;
    width: 100%;
    gap: 1rem;
  }
  main .section1 .Center .text h1 {
    font-size: 3.3rem;
  }
  main .section1 .Center .text p {
    font-size: 0.9rem;
  }
  main .section1 .Center .text .btn button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
  main .section1 .Center .img img {
    position: absolute;
    top: -2rem;
    left: 0rem;
    z-index: 9;
    height: 180px;
  }
  main .section2 .allCard .top-card {
    gap: 4rem;
  }
  main .section2 .allCard .top-card .card {
    flex: 1 1 300px;
    max-width: 320px;
    width: 100%;
  }
  main .section4 .service .cardall {
    margin-bottom: 2rem;
  }
  main .section5 .top .img1,
  main .section5 .top .img2,
  main .section5 .top .img3,
  main .section5 .top .img4 {
    flex-wrap: wrap;
    font-size: 1.6rem;
  }
  main .section6 {
    padding: 3rem;
  }
  main .section6 .swiper .swiper-slide .text h1 {
    font-size: 1rem;
  }
  main .section6 .swiper .swiper-slide .text h5 {
    font-size: 0.7rem;
  }
}
@media (max-width: 600px) {
  main .section1 {
    padding: 1rem;
  }
  main .section1 nav {
    padding: 8px 25px;
  }
  main .section1 nav .tag .nav1 {
    top: 70px;
    right: 25px;
    width: 200px;
  }
  main .section1 nav .tag #menu {
    display: block;
  }
  main .section1 .Center {
    flex-direction: column;
    gap: 1rem;
    margin-top: 7rem;
  }
  main .section1 .Center .text {
    margin-right: 0;
  }
  main .section1 .Center .text h1 {
    font-size: 2.5rem;
    margin-left: 0;
  }
  main .section1 .Center .text P {
    font-size: 0.9rem;
  }
  main .section1 .Center .text .btn button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  main .section1 .Center img {
    height: 180px;
  }
  main .section1 .Center .img img {
    position: absolute;
    top: -2rem;
    left: 0rem;
    z-index: 9;
    height: 180px;
  }
  main .section2 {
    padding: 1rem;
  }
  main .section2 .allCard .top-card {
    gap: 6rem;
  }
  main .section2 .allCard .top-card .card {
    width: 22%;
    flex: 1 1 90%;
    max-width: 90%;
    padding: 1.8rem;
  }
  main .section2 .allCard .top-card .card img {
    width: 13rem;
  }
  main .section3 {
    padding: 1rem;
    margin-top: 3rem;
  }
  main .section3 img {
    margin-top: 2rem;
  }
  main .section3 .text {
    padding: 1rem;
  }
  main .section3 .text h1 {
    font-size: 2.7rem;
  }
  main .section4 {
    padding: 0 3rem;
  }
  main .section4 .tags {
    padding: 1rem;
  }
  main .section4 .service {
    padding: 2.9rem;
  }
  main .section5 {
    flex-wrap: wrap;
  }
  main .section5 .top .img1,
  main .section5 .top .img2,
  main .section5 .top .img3,
  main .section5 .top .img4 {
    flex-wrap: wrap;
    font-size: 1.3rem;
  }
  main .section6 {
    padding: 1rem;
  }
  main .section6 .swiper .swiper-slide h1 {
    font-size: 1.5rem;
  }
  main .section6 .swiper .swiper-slide .text h1 {
    font-size: 0.6rem;
  }
  main .section6 .swiper .swiper-slide .text h5 {
    font-size: 0.5rem;
  }
  main footer {
    padding: 2rem;
  }
  main footer .small {
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */